.custom-text-500{
    font-family: 'Yekan';
    font-weight: 500;
    font-size: 3rem;
}
.custom-text-400{
    font-family: 'Yekan';
    font-weight: 400;
    font-size: 1.8rem;
}
.text-md{
    font-size: 1rem;
    font-family: 'Yekan';
}
.text-lg{
    font-size: 1.2rem;
    font-family: 'Yekan';
}
.text-sm{
    font-size: .8rem;
    font-family: 'Yekan';
}